.playButton{
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--white);
    font-size: 10vw;
    cursor: pointer;
}

.backButton, .nextButton{
    font-size: 50px;
    color: var(--white);
}

.selectCharacterButton{
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    width: 200px;
    height: 30px;
    border-radius: 6px;
    border: 0;
}